<!DOCTYPE html>
<html>
<head>
    <title>STAGE</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
<body>
  
  <div id="title-stage" class="navbar">
    <div class="title-text"><h1>STAGE</h1></div>
    
  </div>
  <div class="container">
    <div class="choice-container">
      <label class="choice-label">
          <button type="checkbox" id="choice-fig-bar">
              <img width="35px" src="{{ url_for('static', filename='bar.png') }}">
              <span>Bar</span>
          </button>
      </label>

      <label class="choice-label">
        <button type="checkbox" id="add-support">
          <img width="35px" src="{{ url_for('static', filename='triangle.png') }}">
          <span>Apoio</span>
        </button>
        
        <button class="distributed-f" id="add-rectangle">Adicionar Força Retangular</button>
        <button class="distributed-f" id="add-triangle">Adicionar Força Triangular</button>
        <button class="distributed-f" id="add-trapezoid">Adicionar Força Trapézio</button>
      </label>
  </div>
    <div id="canvas-container">
        <canvas id="vector-canvas" width="1000" height="600"></canvas>
      </div>
      <div class="input-container">
        <input type="number" id="force-input" placeholder="Força">
        <input type="number" id="angle-input" placeholder="Ângulo (em graus)">
        <div id="div-range" class="hidden">
          <h4>Comprimento da Barra</h4>
          <input type="range" id="comprimento-range" min="150" max="400" step="10" value="300">
        </div>
        <div class="result-container">
          <div class="button-container">
            <button id="toggle-add-vector">Iniciar Adição de Vetores</button>
            <button id="undo-vector">Desfazer Último Vetor</button>
            <button id="clear-vectors">Limpar Vetores</button>
            <button id="get-vectors">Obter Reações</button>
            <button id="resultant-force">Obter Força Resultante</button>
      
          </div>

          <!-- <div id="resultant-vector-info">
            Resultant Vector:
            <span id="resultant-magnitude"></span>
            <span id="resultant-direction"></span>
          </div> -->
        </div>
      </div>
    </div>

    <div id="myModal" class="modal" style="text-align:center">
      <div id="modal-content-change" class="modal-content">
          <span id="closeModal" style="float: right;">&times;</span>
          <h2 style="position: relative; left: 10px;">Força Distribuída</h2>
          <input style="margin-top: 20px;" type="number" id="force-input-distributed" placeholder="Força (N)">
          <input style="margin-top: 20px; position: relative; left: 30px; display: none;" type="number" id="force-menor-input-distributed" placeholder="Força Menor (N)">
          <input style="margin-top: 20px;" type="number" id="length-input-distributed" placeholder="Comprimento (metros)">
          
          <div style="display: none; margin-top: 20px;" id="orientation">
            <label for="orientation">Orientação</label>
            <div style="display: flex; align-items: center; justify-content: space-between; position: relative; left: 30px;">
                <input style="margin-top: 20px;"  type="radio" id="orientation-right" name="orientation" value="right">
                <label style="margin-top: 20px; position: relative; right: 80px;" for="orientation-right"><img id="transform-left" width="35px" src="{{ url_for('static', filename='triangle.png') }}"></label>
        
                <input style="margin-top: 20px;" type="radio" id="orientation-left" name="orientation" value="left">
                <label style="margin-top: 20px; position: relative; right: 80px;" for="orientation-left"><img  width="35px" src="{{ url_for('static', filename='triangle.png') }}"></label>
            </div>
        </div>
          <button style="margin-top: 50px;" id="add-distributed-force">Adicionar Força Distribuída</button>
      </div>
  </div>
  
    <script src="../static/script.js"></script>
</body>
</html>