<!DOCTYPE html>
<html>
<head>
    <title>STAGE</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
<body>
  
  <div id="title-stage" class="navbar">
    <div class="title-text"><h1>STAGE</h1></div>
    
  </div>
    <div id="canvas-container">
        <canvas id="vector-canvas" width="1000" height="600"></canvas>
      </div>
      <div class="input-container">
        <input type="number" id="force-input" placeholder="Força">
        <input type="number" id="angle-input" placeholder="Ângulo (em graus)">
        <div class="result-container">
          <div class="button-container">
            <button id="toggle-add-vector">Iniciar/Parar Adição de Vetores</button>
            <button id="undo-vector">Desfazer Último Vetor</button>
            <button id="clear-vectors">Limpar Vetores</button>
            <button id="get-vectors">Obter Vetores</button>
            <button id="add-support">Adicionar Apoio</button>
            <button id="resultant-force">Obter Força Resultante</button>
          </div>
          <!-- <div id="resultant-vector-info">
            Resultant Vector:
            <span id="resultant-magnitude"></span>
            <span id="resultant-direction"></span>
          </div> -->
        </div>
      </div>
  
    <script src="../static/script.js"></script>
</body>
</html>